Repository tunnelvisionlabs/dotnet-trees: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

comment:
  layout: "diff"

flags:
  production:
    paths:
      - TunnelVisionLabs.Collections.Trees/
      - TunnelVisionLabs.Collections.Trees.Experimental/
  test:
    paths:
      - TunnelVisionLabs.Collections.Trees.Test/
  # Filter results to only show debug reports until the accuracy problems with
  # the report merge process are fixed.
  Release:
    paths:
      - nonexistent/

Add tests for TreeStack<T>
  TunnelVisionLabs.Collections.Trees.Experimental/TreeStack`1.cs
  TunnelVisionLabs.Collections.Trees.Test/TreeStackTest.cs
Due: production, test

Move TreeQueue<T> to production assembly
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/TreeQueue`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/TreeQueue`1.cs
Due: production

Move TreeStack<T> to production assembly
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/TreeStack`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/TreeStack`1.cs
Due: production

Initial implementation of ImmutableTreeList<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/FixedArray8`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+IndexNode.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+LeafNode.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+Node.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1.cs
Due: production

Initial tests for ImmutableTreeList<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/FixedArray8`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+Node.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/FixedArray8Test.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListBuilderTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListFactoryTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListTest.cs
Due: production, test

Improve ImmutableTreeList<T> testing
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+IndexNode.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListTest.cs
Due: production, test

Provide a .NET Standard 2.0 build of dotnet-trees
  TunnelVisionLabs.Collections.Trees.Experimental/TunnelVisionLabs.Collections.Trees.Experimental.csproj
  TunnelVisionLabs.Collections.Trees/ExcludeFromCodeCoverageAttribute.cs
  TunnelVisionLabs.Collections.Trees/TunnelVisionLabs.Collections.Trees.csproj
Due: production

Improve ImmutableTreeList<T> testing
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+IndexNode.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+LeafNode.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+Node.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1.cs
  TunnelVisionLabs.Collections.Trees.Test/CollectionAssert.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListBuilderTest+ForEach.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListBuilderTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListTest+ForEach.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListTest.cs
Due: production, test

Remove special handling of odd branching factors
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+IndexNode.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+LeafNode.cs
Due: production

Improve ImmutableTreeList<T> testing
  Directory.Build.props
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListBuilderTest+GetRange.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListBuilderTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListTest+GetRange.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListTest.cs
Due: production, test

Exclude reference APIs from code coverage
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeSet.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeSet`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeQueue.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeQueue`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeSet.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeSet`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeStack.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeStack`1.cs
Due: production

Improve ImmutableTreeList<T> testing
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+IndexNode.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+LeafNode.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/FixedArray8Test.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListBuilderTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListTest.cs
  TunnelVisionLabs.Collections.Trees.Test/ReverseComparerTests.cs
  TunnelVisionLabs.Collections.Trees.Test/ReverseComparer`1.cs
Due: production, test

Move SubsetHashCodeEqualityComparer<T> to its own file
  TunnelVisionLabs.Collections.Trees.Test/SubsetHashCodeEqualityComparer`1.cs
  TunnelVisionLabs.Collections.Trees.Test/TreeSetWithCollidingHashCodesTest.cs
Due: test

Add benchmark for converting Enumerable.Range to a list
  TunnelVisionLabs.Collections.Trees.Benchmarks/Immutable/ImmutableTreeListBenchmark.cs
Due: none

Code style cleanup for the new benchmark project
  TunnelVisionLabs.Collections.Trees.Benchmarks/DummyBenchmark.cs
  TunnelVisionLabs.Collections.Trees.Benchmarks/MemoryDiagnoserConfig.cs
  TunnelVisionLabs.Collections.Trees.Benchmarks/Program.cs
  TunnelVisionLabs.Collections.Trees.Benchmarks/Properties/AssemblyInfo.cs
  TunnelVisionLabs.Collections.Trees.Benchmarks/Properties/launchSettings.json
  TunnelVisionLabs.Collections.Trees.Benchmarks/TunnelVisionLabs.Collections.Trees.Benchmarks.csproj
Due: none

Benchmark project with dummy benchmark.
  .gitignore
  TunnelVisionLabs.Collections.Trees.Benchmarks/App.config
  TunnelVisionLabs.Collections.Trees.Benchmarks/DummyBenchmark.cs
  TunnelVisionLabs.Collections.Trees.Benchmarks/MemoryDiagnoserConfig.cs
  TunnelVisionLabs.Collections.Trees.Benchmarks/Program.cs
  TunnelVisionLabs.Collections.Trees.Benchmarks/Properties/AssemblyInfo.cs
  TunnelVisionLabs.Collections.Trees.Benchmarks/TunnelVisionLabs.Collections.Trees.Benchmarks.csproj
  dotnet-trees.sln
Due: none

Implement ImmutableTreeQueue<T> using ImmutableTreeList<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeQueue.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeQueue`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeQueue`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
Due: production

Add initial tests for ImmutableTreeQueue<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeQueue`1.cs
  TunnelVisionLabs.Collections.Trees.Test/Generator.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeQueueTest.cs
Due: production, test

Implement ImmutableTreeStack<T> using ImmutableTreeList<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeStack.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeStack`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeStack`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
Due: production

Add initial tests for ImmutableTreeStack<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeStack`1.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeStackTest.cs
Due: production, test

Update to BenchmarkDotNet 0.11.3
  TunnelVisionLabs.Collections.Trees.Benchmarks/Properties/launchSettings.json
  TunnelVisionLabs.Collections.Trees.Benchmarks/TunnelVisionLabs.Collections.Trees.Benchmarks.csproj
Due: none

get rid of boxing which was included in the allocated memory column
  TunnelVisionLabs.Collections.Trees.Benchmarks/Immutable/ImmutableTreeListBenchmark.cs
Due: none

Fix the description of test converting to ImmutableTreeList<T>
  TunnelVisionLabs.Collections.Trees.Benchmarks/Immutable/ImmutableTreeListBenchmark.cs
Due: none

use [ShortRunJob] to perform fewer iterations and gain some time
  TunnelVisionLabs.Collections.Trees.Benchmarks/DummyBenchmark.cs
  TunnelVisionLabs.Collections.Trees.Benchmarks/Immutable/ImmutableTreeListBenchmark.cs
Due: none

Fix failure to account for changes to mutable nodes
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+IndexNode.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListBuilderTest.cs
Due: production, test

Fix ImmutableTreeList<T>.Builder.ToImmutable caching
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeList`1+Builder.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListBuilderTest.cs
Due: production, test

Add tests for ImmutableSortedTreeList<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeList`1.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeListBuilderTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeListTest.cs
Due: production, test

Remove EqualityComparer<T> searching from ImmutableSortedTreeList<T>.Builder
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeList`1+Builder.cs
Due: production

Add ImmutableSortedTreeList<T> for internal use
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeList.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeList`1+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeList`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeList`1.cs
Due: production

Add tests for ImmutableSortedTreeList<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeList`1.cs
  TunnelVisionLabs.Collections.Trees.Test/Generator.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeListBuilderTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeListTest+ForEach.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeListTest+GetRange.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeListTest.cs
Due: production, test

Move ImmutableTreeList<T> to TunnelVisionLabs.Collections.Trees
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/Immutable/FixedArray8`1.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList`1+Builder.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList`1+IndexNode.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList`1+LeafNode.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList`1+Node.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList`1.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
Due: production

Extract shared helper for set operations
  TunnelVisionLabs.Collections.Trees/SetHelper.cs
  TunnelVisionLabs.Collections.Trees/SortedTreeSet`1.cs
  TunnelVisionLabs.Collections.Trees/TreeSet`1.cs
Due: production

Implement ImmutableTreeSet<T> using ImmutableSortedTreeList<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeList`1+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeSet.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeSet`1+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeSet`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeSet`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList`1+Builder.cs
Due: production

Avoid triggering AppVeyor builds for tags
  appveyor.yml
Due: none

Simplify the initial build name
  appveyor.yml
Due: none

Add tests for ImmutableTreeSet<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeSet`1+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeSet`1.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeSetBuilderTest+CollidingHashCodes.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeSetBuilderTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeSetTest.cs
  TunnelVisionLabs.Collections.Trees/SetHelper.cs
Due: production, test

Move ImmutableTreeStack<T> to TunnelVisionLabs.Collections.Trees
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeStack.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeStack`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeStack`1.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
Due: production

Add tests for immutable inputs to builder methods
  TunnelVisionLabs.Collections.Trees.Test/AbstractSetTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeSetBuilderTest+ImmutableArguments.cs
Due: test

Move ImmutableTreeQueue<T> to TunnelVisionLabs.Collections.Trees
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeQueue.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeQueue`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeQueue`1.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
Due: production

Additional tests for ImmutableTreeSet<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeSet`1.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeSetTest.cs
Due: production, test
