Repository tunnelvisionlabs/dotnet-trees: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release

Enable nullable reference types for TreeDictionary
  TunnelVisionLabs.Collections.Trees.Test/TreeDictionaryTest.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/TreeDictionary`2+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/TreeDictionary`2+KeyCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/TreeDictionary`2+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees/TreeDictionary`2+ValueCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/TreeDictionary`2+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees/TreeDictionary`2.cs
Due: production, test

Enable nullable reference types in helper classes
  TunnelVisionLabs.Collections.Trees.Benchmarks/DummyBenchmark.cs
  TunnelVisionLabs.Collections.Trees.Benchmarks/MemoryDiagnoserConfig.cs
  TunnelVisionLabs.Collections.Trees.Benchmarks/Program.cs
  TunnelVisionLabs.Collections.Trees.Benchmarks/Properties/AssemblyInfo.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Properties/AssemblyInfo.cs
  TunnelVisionLabs.Collections.Trees.Test/AbstractSetTest.cs
  TunnelVisionLabs.Collections.Trees.Test/CollectionAssert.cs
  TunnelVisionLabs.Collections.Trees.Test/EverythingThrowsEnumerableTest.cs
  TunnelVisionLabs.Collections.Trees.Test/EverythingThrowsEnumerable`1.cs
  TunnelVisionLabs.Collections.Trees.Test/ExceptionUtilitiesTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Generator.cs
  TunnelVisionLabs.Collections.Trees.Test/GeneratorTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Properties/AssemblyInfo.cs
  TunnelVisionLabs.Collections.Trees.Test/ReverseComparerTests.cs
  TunnelVisionLabs.Collections.Trees.Test/ReverseComparer`1.cs
  TunnelVisionLabs.Collections.Trees.Test/SubsetHashCodeEqualityComparer`1.cs
  TunnelVisionLabs.Collections.Trees.Test/ThrowingTraceListener.cs
  TunnelVisionLabs.Collections.Trees.Test/TreeSpanTest.cs
  TunnelVisionLabs.Collections.Trees.Test/ZeroHashCodeEqualityComparer`1.cs
  TunnelVisionLabs.Collections.Trees/ComparisonComparer`1.cs
  TunnelVisionLabs.Collections.Trees/ExceptionUtilities.cs
  TunnelVisionLabs.Collections.Trees/ExcludeFromCodeCoverageAttribute.cs
  TunnelVisionLabs.Collections.Trees/KeyOfPairComparer`2.cs
  TunnelVisionLabs.Collections.Trees/KeyOfPairEqualityComparer`2.cs
  TunnelVisionLabs.Collections.Trees/Properties/AssemblyInfo.cs
  TunnelVisionLabs.Collections.Trees/SetHelper.cs
  TunnelVisionLabs.Collections.Trees/TreeSpan.cs
  TunnelVisionLabs.Collections.Trees/ValidationRules.cs
Due: production, test

Enable nullable reference types for ImmutableTreeList
  TunnelVisionLabs.Collections.Trees.Benchmarks/Immutable/ImmutableTreeListBenchmark.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListBuilderTest+ForEach.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListBuilderTest+GetRange.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListBuilderTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListFactoryTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListTest+ForEach.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListTest+GetRange.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeListTest.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList`1+Builder.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList`1+IndexNode.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList`1+LeafNode.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList`1+Node.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList`1.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
Due: production, test

Add the public API for concurrent collections
  TunnelVisionLabs.Collections.Trees.Experimental/Concurrent/ConcurrentTreeBag`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Concurrent/ConcurrentTreeBag`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Concurrent/ConcurrentTreeDictionary`2+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Concurrent/ConcurrentTreeDictionary`2+KeyCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Concurrent/ConcurrentTreeDictionary`2+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Concurrent/ConcurrentTreeDictionary`2+ValueCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Concurrent/ConcurrentTreeDictionary`2+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Concurrent/ConcurrentTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Concurrent/ConcurrentTreeQueue`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Concurrent/ConcurrentTreeQueue`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Concurrent/ConcurrentTreeStack`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Concurrent/ConcurrentTreeStack`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
Due: production

Update to SDK 3.1.400
  global.json
Due: none

Optimize FixedArray8<T> indexer
  TunnelVisionLabs.Collections.Trees/Immutable/FixedArray8`1.cs
  TunnelVisionLabs.Collections.Trees/ThrowHelper.cs
  TunnelVisionLabs.Collections.Trees/TunnelVisionLabs.Collections.Trees.csproj
Due: production

Add license and URLs to nuget package
  Directory.Build.props
Due: none

Path conditions:
  production: any of: TunnelVisionLabs.Collections.Trees/, TunnelVisionLabs.Collections.Trees.Experimental/
  test: any of: TunnelVisionLabs.Collections.Trees.Test/
  Release: any of: nonexistent/
