Repository tunnelvisionlabs/dotnet-trees: changes, and which Codecov flags are due for each by the changed paths.
All: production, test, Release

Fix handling of mutable nodes across index pages
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList`1+IndexNode.cs
Due: production

Additional tests for ImmutableTreeSet<T>
  TunnelVisionLabs.Collections.Trees.Test/Immutable/AbstractImmutableSetTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeSetTest.cs
Due: test

Move ImmutableTreeSet<T> to TunnelVisionLabs.Collections.Trees
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeList.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeList`1+Builder.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeList`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeList`1.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeSet.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeSet`1+Builder.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeSet`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeSet`1.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
Due: production

Implement ImmutableTreeDictionary<TKey, TValue> using ImmutableTreeSet<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+KeyCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+ValueCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
Due: production

Extract shared helper KeyOfPairComparer<TKey, TValue>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees/KeyOfPairComparer`2.cs
  TunnelVisionLabs.Collections.Trees/TreeDictionary`2.cs
Due: production

Improve OpenCover collection performance
  appveyor.yml
Due: none

Add tests for ImmutableTreeDictionary<TKey, TValue>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+Builder+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+Builder+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeDictionaryBuilderTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeDictionaryTest.cs
Due: production, test

Extract helper class EverythingThrowsEnumerable<T>
  TunnelVisionLabs.Collections.Trees.Test/AbstractSetTest.cs
  TunnelVisionLabs.Collections.Trees.Test/EverythingThrowsEnumerableTest.cs
  TunnelVisionLabs.Collections.Trees.Test/EverythingThrowsEnumerable`1.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/AbstractImmutableSetTest.cs
Due: test

Improved tests for ImmutableTreeDictionary<TKey, TValue>
  TunnelVisionLabs.Collections.Trees.Test/Immutable/AbstractImmutableDictionaryTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeDictionaryTest.cs
Due: test

Implement ImmutableSortedTreeSet<T> using ImmutableSortedTreeList<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeSet.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeSet`1+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeSet`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeSet`1.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
Due: production

Add tests for ImmutableSortedTreeSet<T>
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeSetBuilderTest+ImmutableArguments.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeSetBuilderTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeSetTest.cs
Due: test

Extract helper KeyOfPairComparer<TKey, TValue>
  TunnelVisionLabs.Collections.Trees/KeyOfPairComparer`2.cs
  TunnelVisionLabs.Collections.Trees/SortedTreeDictionary`2.cs
Due: production

Rename KeyOfPairComparer<TKey, TValue> to KeyOfPairEqualityComparer<TKey, TValue>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeDictionaryTest.cs
  TunnelVisionLabs.Collections.Trees/KeyOfPairEqualityComparer`2.cs
  TunnelVisionLabs.Collections.Trees/TreeDictionary`2.cs
Due: production, test

Implement ImmutableSortedTreeDictionary<TKey, TValue> in terms of ImmutableSortedTreeSet<T>
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2+Builder+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2+Builder+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2+Builder.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2+KeyCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2+ValueCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees.Experimental/Immutable/ImmutableSortedTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
Due: production

Add tests for ImmutableSortedTreeDictionary<TKey, TValue>
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeDictionaryBuilderTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeDictionaryTest.cs
Due: test

Move immutable collections to TunnelVisionLabs.Collections.Trees
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2+Builder+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2+Builder+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2+Builder.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2+KeyCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2+ValueCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeSet.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeSet`1+Builder.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeSet`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeSet`1.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2+Builder+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2+Builder+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2+Builder.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2+KeyCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2+ValueCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
Due: production

Fix the root namespace of the experimental package
  TunnelVisionLabs.Collections.Trees.Experimental/TunnelVisionLabs.Collections.Trees.Experimental.csproj
Due: production

Update to StyleCop Analyzers 1.2.0-beta.164
  Directory.Build.props
  stylecop.json
Due: none

Update Codecov tool
  .nuget/packages.config
  appveyor.yml
Due: none

Update to build with Visual Studio 2019
  appveyor.yml
  build/build.ps1
  global.json
Due: none

Enable C# 8
  Directory.Build.props
Due: none

Update to xunit 2.4.1
  TunnelVisionLabs.Collections.Trees.Test/TunnelVisionLabs.Collections.Trees.Test.csproj
Due: test

Update Public API analyzers
  Directory.Build.props
  NuGet.Config
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
Due: production

Enable nullable reference types in Public API files
  .editorconfig
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Shipped.txt
  TunnelVisionLabs.Collections.Trees.Experimental/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/PublicAPI.Shipped.txt
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
Due: production

Add a target for .NET Standard 2.1
  TunnelVisionLabs.Collections.Trees.Experimental/TunnelVisionLabs.Collections.Trees.Experimental.csproj
  TunnelVisionLabs.Collections.Trees/TunnelVisionLabs.Collections.Trees.csproj
Due: production

Enable nullable reference types for ImmutableSortedTreeList
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeListBuilderTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeListTest+ForEach.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeListTest+GetRange.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeListTest.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeList.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeList`1+Builder.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeList`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeList`1.cs
Due: production, test

Enable nullable reference types for FixedArray<T>
  TunnelVisionLabs.Collections.Trees.Test/Immutable/FixedArray8Test.cs
  TunnelVisionLabs.Collections.Trees/Immutable/FixedArray8`1.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList`1+IndexNode.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeList`1+LeafNode.cs
Due: production, test

Enable nullable reference types for ImmutableSortedTreeDictionary
  TunnelVisionLabs.Collections.Trees.Test/Immutable/AbstractImmutableDictionaryTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeDictionaryBuilderTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeDictionaryTest.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2+Builder+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2+Builder+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2+Builder.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2+KeyCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2+ValueCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
Due: production, test

Enable nullable reference types for ImmutableSortedTreeSet
  TunnelVisionLabs.Collections.Trees.Test/Immutable/AbstractImmutableSetTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeSetBuilderTest+ImmutableArguments.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeSetBuilderTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableSortedTreeSetTest.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeSet.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeSet`1+Builder.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeSet`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableSortedTreeSet`1.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
Due: production, test

Enable nullable reference types for ImmutableTreeDictionary
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeDictionaryBuilderTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeDictionaryTest.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2+Builder+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2+Builder+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2+Builder.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2+KeyCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2+ValueCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeDictionary`2.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
Due: production, test

Enable nullable reference types for ImmutableTreeQueue
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeQueueTest.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeQueue.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeQueue`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeQueue`1.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
Due: production, test

Enable nullable reference types for ImmutableTreeSet
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeSetBuilderTest+CollidingHashCodes.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeSetBuilderTest+ImmutableArguments.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeSetBuilderTest.cs
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeSetTest.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeSet.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeSet`1+Builder.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeSet`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeSet`1.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
Due: production, test

Enable nullable reference types for ImmutableTreeStack
  TunnelVisionLabs.Collections.Trees.Test/Immutable/ImmutableTreeStackTest.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeStack.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeStack`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/Immutable/ImmutableTreeStack`1.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
Due: production, test

Enable nullable reference types for TreeQueue
  TunnelVisionLabs.Collections.Trees.Test/TreeQueueTest.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/TreeQueue`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/TreeQueue`1.cs
Due: production, test

Enable nullable reference types for TreeStack
  TunnelVisionLabs.Collections.Trees.Test/TreeStackTest.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/TreeStack`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/TreeStack`1.cs
Due: production, test

Enable nullable reference types for TreeSet
  TunnelVisionLabs.Collections.Trees.Test/TreeSetTest.cs
  TunnelVisionLabs.Collections.Trees.Test/TreeSetWithCollidingHashCodesTest.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/TreeSet`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/TreeSet`1.cs
Due: production, test

Enable nullable reference types for SortedTreeDictionary
  TunnelVisionLabs.Collections.Trees.Test/SortedTreeDictionaryTest.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/SortedTreeDictionary`2+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/SortedTreeDictionary`2+KeyCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/SortedTreeDictionary`2+KeyCollection.cs
  TunnelVisionLabs.Collections.Trees/SortedTreeDictionary`2+ValueCollection+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/SortedTreeDictionary`2+ValueCollection.cs
  TunnelVisionLabs.Collections.Trees/SortedTreeDictionary`2.cs
Due: production, test

Enable nullable reference types for SortedTreeList
  TunnelVisionLabs.Collections.Trees.Test/SortedTreeListTest.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/SortedTreeList`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/SortedTreeList`1.cs
Due: production, test

Enable nullable reference types for SortedTreeSet
  TunnelVisionLabs.Collections.Trees.Test/SortedTreeSetTest.cs
  TunnelVisionLabs.Collections.Trees/PublicAPI.Unshipped.txt
  TunnelVisionLabs.Collections.Trees/SortedTreeSet`1+Enumerator.cs
  TunnelVisionLabs.Collections.Trees/SortedTreeSet`1.cs
Due: production, test

Path conditions:
  production: any of: TunnelVisionLabs.Collections.Trees/, TunnelVisionLabs.Collections.Trees.Experimental/
  test: any of: TunnelVisionLabs.Collections.Trees.Test/
  Release: any of: nonexistent/
